:root{
    --main-box-height: 700px;
    --line-box-width: 620px;
}
.ani_newBroswer_OutsideBox{
    width: 1000px;
    height: var(--main-box-height);
    background-color: white;
    position: absolute;
    border-radius: 15px;
    top: 10%;
    left: calc(50% - 500px);
    overflow: hidden;
}
.ani_newBroswer_InsideBox{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}
.ani_newBroswer_LeftsideBar{
    height: 100%;
    width: 100px;
    background-color: #557cd1;
}
.ani_newBroswer_LeftsideBarContent{
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ani_newBroswer_User{
    height: 45px ;
    width: 45px ;
    text-align: center;
    line-height: 45px;
    background-color: white;
    border-radius: 50%;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(172, 172, 172);
    margin-bottom: 60px;
}
.ani_newBroswer_Icon_Company{
    width: 30px;
    height: 30px;
    margin-top: 30px;
}
.ani_newBroswer_Icon_Head{
    width: 45px;
    height: 45px;
    margin-top: 50px;    
}
.ani_newBroswer_RightSideBox{
    height: 100%;
    width: 100%;
}
.ani_newBroswer_Content_Right{
    position: absolute;
    top: 0px;
    left: 760px;  
    height: 100%;
    width: 240px;
    overflow: hidden;
}
.ani_newBroswer_PeopleImg{
    position: absolute;
    bottom: -60px;   
}
.ani_newBroswer_PeopleBox{
    position: absolute;
    bottom: -100px;   
    width: 240px;
    height: 200px;
    background-color: #f6f9ff;
    border-top-left-radius: 30px;
}
.ani_newBroswer_UserInfo{
    position: absolute;
    top: 20px;
    left: 120px;
    width: var(--line-box-width);
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    color: #383838;
}
.ani_newBroswer_InformationCard{
    position: absolute;
    top: 90px;
    left: 120px;    
    width: var(--line-box-width);
    height: 160px;
    background-color: #c7e5f1;  
    border-radius: 15px;
}
.ani_newBroswer_DataCard{
    position: absolute;
    top: 270px;
    left: 120px;    
    width: var(--line-box-width);
    height: 130px;
    border-radius: 15px;
    border: 1px dashed #c4c4c4;
}
.ani_newBroswer_ExtendCard1{
    position: absolute;
    top: 425px;
    left: 120px;    
    width: 300px;
    height: 250px;
    box-shadow: 0 0 15px #e7e7e7;  
    border-radius: 15px;
    background-color: #515e79;
}
.ani_newBroswer_ExtendCard2{
    position: absolute;
    top: 425px;
    left: 440px;    
    width: 300px;
    height: 250px;
    box-shadow: 0 0 15px #e7e7e7;  
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
}
.ani_newBroswer_FakeImg{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 100px;
}
.ani_newBroswer_InformationText1{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 250px;
    height: 40px;
    background-color: #557cd1;
    line-height: 40px;
    color: #ffffff;
    padding-left: 20px;
    border-radius: 30px;
}
.ani_newBroswer_InformationText2{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    color: #777777;
    padding-left: 20px;  
}
